<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Demo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/search">Query & Pagination</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/auth">Register & Auth</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/save">Save & Update</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/uploads">Uploads</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/security">Security & Rules</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>