<div>

  <div>
    Username
    <input [(ngModel)]="email" type="text" class="form-control" /> Password
    <input [(ngModel)]="pwd" type="text" class="form-control" />
    <button class="btn btn-primary" (click)="register()">Register</button>
  </div>
  <hr/>

  <div>
    Add Product
    <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  </div>
  <hr/>

  <div>
    <h3>Auth</h3>
    <div *ngIf="afAuth.authState | async as user; else showLogin">
      <h4>Hello {{ user.displayName }}!</h4>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button class="btn btn-primary" (click)="login()">Login with Google</button>
    </ng-template>
  </div>

  <div>
    <h3>Fetching categories</h3>
    <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.category}} {{item.subCategory}}
      </li>
    </ul>
  </div>

  <div>
    <h3>Filtering</h3>
    <select>
      <option>name</option>
      <option>Title</option>
      <option>Desc</option>
      <option>Id</option>
    </select>
    <input type="text" [(ngModel)]="filterField"/>
    <ul>
      <li class="text" *ngFor="let item of prodcutList | async">
        {{item.name}} | {{item.category}} | {{item.subCategory}} | {{item.item}}
      </li>
    </ul>

    <button class="btn btn-primary" (click)="search1()">Search 1</button>
    <button class="btn btn-primary" (click)="search2()">Search 2</button>
    <button class="btn btn-primary" (click)="search1()">Search 3</button>
    <button class="btn btn-primary" (click)="search1()">Search 4</button>
    <button class="btn btn-primary" (click)="search1()">Search 5</button>
  </div>
</div>
<router-outlet></router-outlet>