<div style="display: flex">

  <div>
    <h3>Auth</h3>
    <div *ngIf="afAuth.authState | async as user; else showLogin">
      <h4>Hello {{ user.displayName }}!</h1>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button class="btn btn-primary" (click)="login()">Login with Google</button>
    </ng-template>
  </div>

  <div>
    <h3>Fetching categories</h3>
    <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.category}}
      </li>
    </ul>
  </div>

  <div>
    <h3>Filtering</h3>
    <input type="text" />
    <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.category}}
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>